/* header */

#header .discount {
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;

    color: #fff;
    background-color: #000;
}

#header div h2 {
    font-family: Montserrat, sans-serif;
    font: 2rem;
}