/* header */
#header .discount {
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;

    color: #fff;
    background-color: #000;
}

#header .logo {
    font-family: Montserrat, sans-serif;
    font: 2rem;
}

/* main */
#main .bg-img {
    height: 378px;

    background-image: url(/img/wallpaper.jpeg);
    background-attachment: fixed;
    background-size: cover;
    
}

#main .title,
#main .sub-title{
    font-family: Montserrat, sans-serif;
    color: #fff;
}

#main .title {
    font-size: 2.5rem;
}


/* section */
#highlights .highlights,
#highlights .freight {
    font-family: Montserrat, sans-serif;
}

#highlights .highlights {
    font-size: 2.2rem;
}

#highlights .freight {
    font-size: 1.4rem;
}