/* header */
#header .discount {
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;

    color: #fff;
    background-color: #000;
}

#header .logo {
    font-weight: 600;
    font-family: Montserrat, sans-serif;
}

/* main */
#main .bg-img {
    height: 378px;

    background-image: url(/img/wallpaper.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#main h1,
#main p{
    font-family: Montserrat, sans-serif;
    color: #fff;
}

#main h1.title {
    font-weight: 700;
}

#main p.sub-title {
    font-weight: 500;
    line-height: 150%;
}

/* highlights */
#highlights .highlights,
#highlights .freight {
    font-family: Montserrat, sans-serif;
}

#highlights .highlights {
    font-size: 2.2rem;
}

#highlights .freight {
    font-size: 1.4rem;
}

/* section */
#section .row {
    width: auto;
    height: auto;
}
#section img {
    width: auto;
    height: auto;

    cursor: pointer;
    transition: .5s;
}

#section img:hover {
    transform: scale(1.2);
}

#section .shoes {
    width: 280px;
    height: 280px;
    background-color: #EBE9EA;
}

/*responsive*/